header {
    .top {
        .container {

            .row {
                .logo-business {
                    margin: 20px;

                    .business {
                        ul {
                            display: flex;
                            align-items: flex-end;


                            li {

                                margin-left: 20px;
                                list-style: none;

                                a {
                                    color: black;
                                    text-decoration: none;
                                }
                            }


                        }
                    }
                }
            }





        }
    }




    .bottum {
        padding: 30px;
        background-color: rgb(232, 236, 241);

        .container {
            .row {
                .list-button {
                    display: flex;
                    justify-content: space-between;

                    .list {
                        display: flex;

                        ul {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            li {

                                font-size: 13px;
                                margin-left: 20px;
                                list-style: none;

                                a {
                                    height: 100vh;
                                    color: rgb(164, 164, 164);
                                    text-decoration: none;

                                    &:hover {
                                        border-bottom: 3px solid;
                                        border-color: red;
                                    }
                                }

                            }


                        }
                    }

                    .button {
                        display: flex;
                        justify-content: end;
                    }
                }
            }
        }
    }

}





#Popular {

    .container {

        .row {

            margin-bottom: 30px;

            .buttoms {
                margin-top: 30px;

                :first-child {
                    background-color: #f45369;
                    color: #fff;
                }

                a {
                    background-color: rgb(241, 234, 234);
                    padding: 6px 24px 8px;
                    border-radius: 37px;
                    color: black;
                    text-decoration: none;

                }
            }
        }

        .card {
            border-radius: 20px;
            background-color: rgb(249, 250, 251);

            .Card-info {
                justify-content: space-around;
                padding: 60px;

                .images {
                    display: flex;
                    align-items: center;

                    img {
                        width: 350px;
                        height: 60px;
                    }
                }

                .text {

                    ul {
                        display: flex;

                        li {
                            padding-right: 60px;
                            list-style: none;

                            p {
                                display: flex;
                                text-align: start;
                            }

                        }
                    }

                    .button {
                        display: flex;
                        align-items: center;

                        button {
                            width: 300px;
                            height: 60px;
                            font-size: 25px;
                        }

                        span {
                            padding-left: 40px;

                            a {
                                text-decoration: none;
                                color: black;
                            }
                        }
                    }
                }
            }
        }

        .row {

            .cardss {

                position: relative;

                border-radius: 15px;
                overflow: hidden;
                margin-bottom: 30px;
                height: calc(100% - 30px);
                display: flex;
                flex-direction: column;

                &::before {
                    content: "";

                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 20%;
                    background: #f9fafb;
                    border-radius: 15px;
                    z-index: -1;
                }

                img {
                    padding-left: 40px;
                    padding-top: -120px;
                    display: flex;
                    justify-content: center;
                    width: 300px;

                }

                .text-button {
                    .text {
                        padding-left: 40px;


                    }

                    .card-button {
                        display: flex;
                        align-items: center;


                        width: 100;
                        height: 60px;
                        border-top: 1px solid;
                        border-color: rgb(224, 224, 224);

                        a {
                            border-radius: 10px;
                            text-decoration: none;
                            color: black;
                            height: 50px;
                            padding: 10px;

                            &:hover {
                                background-color: red;
                                color: white;
                            }
                        }

                        span {
                            display: flex;
                            align-items: center;
                            width: 380px;
                            height: 50px;
                            padding-left: 20px;
                            border-left: 1px solid;
                            border-color: rgb(224, 224, 224);

                            &:hover {
                                background-color: red;
                                color: white;
                            }
                        }
                    }
                }

            }

            p {
                font-size: 13px;
                text-align: center;
            }
        }

    }
}


.sections-footer {
    height: 100px;
    background-color: rgb(241, 234, 234);

    .container {

        ul {
            display: flex;
            list-style: none;
            align-items: center;
            justify-content: space-between;
            padding-left: 0px;

            li {
                margin-top: 40px;

                #red {
                    color: red;
                }

                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
}

footer {
    height: 800px;
    background-color: rgb(46, 49, 49);

    .row {
        .col {
            margin-top: 40px;

            .footer-item {
                h6 {
                    color: white;
                    padding-left: 30px;
                }

                ul {

                    li {
                        list-style: none;
                        line-height: 40px;

                        a {
                            color: white;
                            text-decoration: none;
                        }
                    }
                }
            }

        }
        .col{
            .QR-Download{
                h3{
                    text-align: center;
                    font-size: 16px;
                    color: white;
                }
                #img{
                    padding-left: 55px;
                }
                
            }
        }
    }
    .icon{
        margin-top: 200px;
        ul{
            display: flex;
            li{
                font-size: 30px;
                list-style: none;
                padding-right: 30px;
                a{
                    color: white;
                }
                .fa{
                    padding: 10px;
                    border: 1px solid;
                    border-radius: 10px;
                    color: rgb(201, 9, 9);
                    span{
                        color: white;
                    }
                }
            }
        }
    }
    .row{
        .p-img{
            display: flex;
            margin-top: 30px;
        .p{
            display: flex;
            align-items: center;
            color: white;
        }
        .img{
            img{
                height: 40px;
                padding-left: 40px;
            }
        }
        }
        
    }
}